

.logo {
    font-size: 80px;
    font-family: 'Myriad Pro';
    padding: 50px;
    text-align: left;
   /* background-color: #b3d4fc;*/
}

.logo a {
    text-decoration: none;
    color:  #000000;
}

.logo span {
    color: #4bcaff;
}

.container {
    width: 1200px;
    padding: 0 50px 0 50px;
}

.nav-bar {
    text-align: center;
    margin-bottom: 40px;
    background-color: #35444f;

}

.nav-item {
    display: inline-block;
    padding: 15px 10px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;

}

.nav-item-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Myriad Pro';
}

.nav-item:hover {
    background-color: #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.left-bar {
    float: left;
    border: 1px solid black;
    transition: transform 0.4s linear;
    background-color: white;
    margin-bottom: 600px;

}

.left-item {
    width: 230px;
    display: block;
    text-align: left;
    padding:25px;
}

.left-link {
    text-decoration: none;
    color: #485863;
    font-size: 24px;
    font-family: 'Myriad Pro';
}
.left-item:hover {
    background-color: #cccccc;
    transform: scaleY(1.0003);
    border-color:transparent;

}

.left-item:hover .left-link {
    color: black;
    padding-left: 5px;
    border-color: transparent;
}

.img-placeholder {
    float:right;
    text-align: center;
    width: 885px;
    height: 529px;
    border: 1px solid black;
}

.image-item {
    text-align: center;
    color:black;
    margin-top: 50px;
    transition: transform 0.4s linear;
}
.image-item:hover {
    transform: scale(1.1);
}
.text-placeholder{
    display: inline-block;
    width: 885px;
    text-align:left;
}
.footer-left {
    text-align: left;
    margin-bottom: 30px;
    background-color: #999999;

}
.footer-left-item {
    display: inline-block;
    padding: 15px 10px;
    text-align:left;
}

.footer-left li:last-child{
  padding-left: 270px;
}
.footer-left-link {
    display: inline-block;
    text-decoration:none;
    color:black;
    font-size: 24px;
    font-family: 'Myriad Pro';
}

.footer-left-item:hover {
    border-left: transparent;
    border-right: transparent;
}
.footer-left-item:hover .footer-left-link{
    color: #3181a6 ;
    text-decoration:underline;
}
h1:first-letter { text-transform: capitalize;margin-left: 30px }
.text-placeholder {
    line-height: 30px;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    border: transparent;
    color: black;
}






